<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <% if(weather){weather.forEach(item=>{%>
            Date:
            <%= item.time %> <br />
            Summary Of the day:
        <%= item.summary %> <br />
            Sunrise:
        <%= item.sunriseTime %> <br />
            Sunset:
        <%= item.sunsetTime %> <br />
            Hi Temp:
        <%= item.temperatureHigh %> <br />
            Low Temp:
        <%= item.temperatureLow %> <br />
            <br/>
        <%})}%>

    </body>
</html>